.header span{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  line-height: 3rem;
  border: none;

}


body {
  color: #ffff;
  display: flex;
  justify-content: center;
  font-family: 'Kalam';
  
}

.topSection {
  margin-top: 70px;
  width: 500px; 
  position: relative;
  font-size: 1.7rem;
  background: #2d545e;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 10px 10px 5px #12343b;
  
 

}

.middleSection {
  background: #2d545e;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-size: 1.3rem;
  text-align: center;
  box-shadow: 10px 10px 5px #12343b;
 

}

.bottomSection {
  margin-top: 40px;
  background: #2d545e;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  text-align: center;
  box-shadow: 10px 10px 5px #12343b;

}

label {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 2rem;
  border: none;

 


}

input[type="text"] 
{
  margin-bottom: 10px;
  color: black;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 1.3rem;
}


.split-control {
  display: flex;
  margin: 10px;
}

.split-control span {
  display: block;
  padding: 0 50px;
  font-size: 1.5rem;
}

.split button {
  border-radius: 99999999px;
  border: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.resultPerPerson span {
  display: block;
  padding: 0 50px;
  border:  3px #12343b;
  border-style: outset;
  margin-bottom: 20px;
}

.totalResult span {
  display: block;
  padding: 0 50px;
  border:  3px #12343b;
  border-style: outset;
  margin-bottom: 15px;
}


section{
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
