body {
  background: white;
  color: #ffff;
  display: flex;
  justify-content: center;
  font-family: 'Kalam';
  

}

.topSection {
  margin-top: 200px;
  width: 500px; 
  position: relative;
  font-size: 1.7rem;
  background: #158;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
 

}

.bottomSection {
  background: #158;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.3rem;
  text-align: center;

}

label {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 2rem;
  border: none;

}

input[type="text"] 
{
  margin-bottom: 10px;
  color: black;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 1.3rem;
}


.split-control {
  display: flex;
  margin: 10px;
}

.split-control span {
  display: block;
  padding: 0 50px;
  font-size: 1.5rem;
}

.split button {
  border-radius: 99999999px;
  border: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.resultPerPerson span {
  display: block;
  padding: 0 50px;
}

.totalResult span {
  display: block;
  padding: 0 50px;
}


section{
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
